/week_2/J1.S.P0008/nbproject/private/
/week_2/J1.S.P0008/build/
/week_2/J1.L.P0022/nbproject/private/
/week_2/J1.L.P0022/build/
/week_3/J1.L.P0021/nbproject/private/
/week_3/J1.L.P0021/build/
/week_3/J1.L.P0023/nbproject/private/
/week_3/J1.L.P0023/build/
/week_4/J1.S.P0050/nbproject/private/
/week_4/J1.S.P0050/build/
/week_4/J1.L.P0025/nbproject/private/
/week_4/J1.L.P0025/build/
/week_4/J1.L.P0025/dist/
/week_4/CSD_fibo_recursion/nbproject/private/
/week_4/J1.S.P0052/nbproject/private/
/week_4/J1.S.P0052/build/
/week_4/Equation/build/
/week_4/Equation/nbproject/private/
/week_5/J1.S.P0054/nbproject/private/
/week_5/J1.S.P0054/build/
